.mainTweet {
  border: solid 1px var(--borderColor);
  cursor: pointer;
  background-color: #fffefe;
  padding-top: 0.6rem;
}
.tweet {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
}

.tweetIconsAndContent {
  display: flex;
  flex-direction: column;
}
.tweetIconsAndContent p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.tweetTopSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #575757;
  font-family: Arial, sans-serif;
  cursor: pointer;
}
.tweetTopSection div {
  margin: auto 0;
  display: flex;
}
.dot:before {
  content: " \B7 ";
}
.tweetIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-right: 3rem;
  margin-bottom: 0.5rem;
}
.tweetIcons li {
  display: flex;
  width: 5rem;
}
.tweetIcons li svg {
  width: 1.2rem;
  vertical-align: text-bottom;
  fill: #575757;
}
.tweetIcons li span {
  display: inline;
  margin: auto;
  margin-left: 0.2rem;
  color: #575757;
  font-size: 0.9rem;
}

.threeDots {
  display: flex;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}

.tweetCommentsSvg,
.tweetRetweetSvg,
.tweetLikeSvg,
.tweetShareSvg,
.threeDotsSvg {
  fill: #536471;
  padding: 0.5rem;
  border-radius: 50%;
  transition: fill 0.2s;
  transition: background-color 0.2s;
}

.threeDotsSvg {
  fill: #536471;
}

.tweetCommentsSvg:hover,
.tweetRetweetSvg:hover,
.tweetLikeSvg:hover,
.tweetShareSvg:hover,
.threeDotsSvg:hover {
  transition: fill 0.2s;
  transition: background-color 0.2s;
}

.tweetRetweetSvg:hover {
  fill: #29db4f;
}
.tweetLikeSvg:hover {
  fill: #f91880;
}

.tweetCommentsSvg:hover,
.tweetShareSvg:hover,
.threeDotsSvg:hover {
  fill: var(--blueBtnsColor);
}

.tweetRetweetSvg:hover {
  background-color: #29db4f25;
}
.tweetRetweetSvg:hover + span {
  color: #29db4f;
}
.tweetLikeSvg:hover {
  background-color: #f9188030;
}
.tweetLikeSvg:hover + span {
  color: #f91880;
}

.tweetCommentsSvg:hover,
.tweetShareSvg:hover,
.threeDotsSvg:hover {
  background-color: #1d9af135;
}
.tweetCommentsSvg:hover + span,
.tweetShareSvg:hover + span,
.threeDotsSvg:hover + span {
  color: var(--blueBtnsColor);
}

.threeDots {
  margin: 0;
}
.threeDots svg {
  margin: auto;
}

.name {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0.3rem 0 0;
  cursor: pointer;
}
.name:hover,
.date:hover {
  text-decoration: underline;
}
.date {
  font-size: 0.98rem;
}
.twId {
  font-size: 0.9rem;
  margin: 0 0.2rem 0 0;
  cursor: pointer;
}

.verified {
  width: 1.1rem;
  margin-right: 0.3rem;
}

.mentionAndHashtag {
  text-decoration: none;
  color: #1c9bf1;
}
.mentionAndHashtag:hover {
  text-decoration: underline;
}

.profileInNewTweet {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0rem 0.8rem;
  border: solid 1px #0000000a;
  cursor:pointer;
  transition:filter .2s
}
.profileInNewTweet:hover{
  filter:brightness(90%);
  transition:filter .2s
}

.tweetContent img {
  border-radius: 1rem;
  display: block;
  margin-top: 1rem;
  max-width: 100%;
}

/* TOP PROFILE */
.topProfile li img {
  border-radius: 50%;
  width: 2rem !important;
  border: 1px solid #5557;
  align-self: center;
}
.topProfile li {
  font-weight: bold;
}

.topProfile {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem 0.15rem 0.6rem;
  top: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 3.2rem;
  border: 1px solid #eee9;
  border-left: none;
  background-color: #fefeff;
  list-style: none;
  z-index: 2;
}
.topNavbarIllusion {
  height: 3.2rem;
  box-sizing: border-box;
  top: 0;
  /* position: fixed; */
  z-index: 0;
  width: 100%;
  background-color: #fefeff;
  border-bottom: 1px solid var(--borderColor);
}
.topProfile li:nth-child(1) {
  display: flex;
  align-items: center;
}
.topProfile li:nth-child(1):hover {
  background-color: #fefeff;
}
.topProfile li:nth-child(2) {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  align-self: center;
  padding: 0.5rem;
  transition: background-color 0.2s;
  border-radius: 50%;
  cursor: pointer;
}
.topProfile li:nth-child(2):hover {
  background-color: #ddda;
  transition: background-color 0.2s;
}

.mainTweet *.verified,
.mainTweet .someoneRetweeted,
.mainTweet .retweetedBy,
.mainTweet .showTread,
.mainTweet .leftOfTweet span,
.mainTweet .smallerProfile {
  display: none;
}
.retweeted .leftOfTweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.retweeted .leftOfTweet span {
  display: inline;
  border-right: 2px solid #ced9df;
  height: 100%;
  width: 0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.retweeted .smallerProfile {
  display: inline;
  width: 2.2rem;
  height: 2.2rem;
  margin-bottom: 0.5rem;
}
.retweeted .someoneRetweeted,
.retweeted .retweetedBy {
  display: flex;
}
.retweeted .showTread {
  display: inline;
}

.retweetedBy {
  margin-left: 3rem;
  color: #667683;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-top: 0rem;
}
.retweetedBy span:hover {
  text-decoration: underline;
}

.retweetedBy svg {
  width: 1rem;
  fill: #667683;
  margin-right: 0.4rem;
}
.verifiedUser *.verified {
  display: inline;
}

.showTread {
  margin-top: 0.4rem;
  /* margin-bottom: .5rem; */
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.showTread a {
  text-decoration: none;
  color: #1c9af0;
}
.showTread a:hover {
  text-decoration: underline;
}
/* .showTread:hover{
  background-color:red
} */

.personInformation {
  display:none!important;
}
.homeText {
  font-size: 1.2rem;
  margin-left: .5rem;
  font-weight: 600;
}
@media screen and (min-width: 500px) {
  /* .homeText {
    margin-left: 1.4rem;
    font-size: 1rem;
    color:#000;
  } */
  .mainTweet:hover {
    background-color: #f7f8f8;
  }
  .middleSection {
    margin-top: 3.2rem;
    max-width: 600px;
    width: 85%;
  }
  .writeTweet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
    border: solid 1px var(--borderColor);
    border-top: 0;
  }
  .btnAndIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .btnAndIcons ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
  }
  .btnAndIcons ul li svg {
    width: 1.2rem;
    margin: auto;
  }
  .btnAndIcons ul li {
    width: 2.1rem;
    height: 2.1rem;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .btnAndIcons ul li:hover {
    background-color: #1d9af130;
    transition: background-color 0.2s;
  }
  .homeNavbar .writeTweet form {
    width: 100%;
  }
  .homeNavbar .writeTweet form textarea {
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-weight: 400;
    margin-top: 0.9rem;
    width: 95%;
    resize: none;
    height: 2rem;
  }

  .everyoneCanReply {
    display: none;
    width: 95%;
  }
  .homeNavbar .writeTweet form .everyoneCanReply svg {
    width: 1rem;
    vertical-align: text-bottom;
  }
  .homeNavbar .writeTweet form .everyoneCanReply {
    color: var(--littleIconsColor);
    vertical-align: middle;
    border-bottom: solid 1px var(--borderColor);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .homeNavbar .writeTweet form textarea:focus ~ .everyoneCanReply {
    display: block !important;
  }

  .tweetBtn {
    outline: none;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #1d9bf0;
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  .tweetBtn:disabled {
    background-color: #1d9bf080;
    transition: background-color 0.4s;
  }
  .tweetBtn:enabled:hover {
    background-color: #1881cc;
    transition: background-color 0.4s;
  }

  /* TOP PROFILE */
  .topNavbarIllusion {
    width: 88%;
    max-width: 600px;
  }
  .topProfile {
    flex-direction: row;
    width: 88%;
    max-width: 600px;
  }
  ul.topProfile li {
    padding: inherit;
    padding-top: 0;
    font-weight: 500;
  }
}
.btnAndIcons ul li.hideOnMediumAndLower {
  display: none;
}
@media screen and (min-width: 700px) {
  /* adding right section */
  .hideOnMedium {
    display: inline;
  }
  .btnAndIcons ul li.hideOnMediumAndLower {
    display: flex;
  }

  .hideOnBig {
    display: none;
  }
  .btnAndIcons ul {
    width: 10rem;
  }


  .tweetTopSection{
    position: relative;
  }

  .tweetTopSection .personInformation{
    position: absolute;
    display:none;
    background-color: #fefeff;
    width:17rem;
    height:13rem;
    top:2rem;
    flex-direction: column;
    box-shadow: 0rem 0px 11px 0.5px rgba(88, 88, 88, 0.203);
    border-radius: 1.5rem;
    cursor: default;
    padding:1rem;
    z-index: 3;
  }

  .personInformation .profileAndFallowBtn{
    justify-content:space-between;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .profileAndFallowBtn img{
    width:4rem;
    height:4rem;
    margin-left: 0;
    margin-top: 0;
  }
  .personInformation input{
    outline: none;
    border:none;
    background-color: #000;
    font-size:1rem;
    font-weight: bold;
    color:#fff;
    height:2rem;
    width:6em;
    border-radius:1rem;
    margin-right:.5rem;
    margin-top:.5rem;
    cursor:pointer;
    transition: background-color 0.2
  }
  .personInformation input:hover{
    background-color: #000d;
    transition: background-color 0.2
  }
  .personInformation .bio{
    margin-top: .5rem;
    color:#222
  }
  .personInformation .fallowingFallowers{
    margin-top: 1em;
  }

  .personInformation .fallowingFallowers span{
    margin-right: .5rem;
  }


  /* .leftOfTweet .profileInNewTweet:hover ~ .tweetIconsAndContent .tweetTopSection .personInformation, */
  .tweetTopSection:hover .personInformation{
    display: flex!important;
    animation-name: displayInfo;
    animation-duration: .75s;
    animation-fill-mode:forwards;
    /* animation-delay: 2s; */
  }
  
  @keyframes displayInfo {
    0%{
      height:0rem;
      opacity: 0;
    }
    50%{
      height:5rem;
      opacity: 0;
    }
    100%{
      height:13rem;
      opacity:1;
    }
  }

}
@media screen and (min-width: 750px) {
  .topProfile li:nth-child(2) {
    margin-right: 0;
  }
}
