.navbar {
  background-color: #fefeff;
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  border: 1px solid #f2f2f2;
  /* box-shadow: 0px 0px 7px #00000005; */
  z-index: 2;
  overflow-y: scroll;
}
.navbar::-webkit-scrollbar {
  width: 0;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0.3rem 0;
  margin: 0;
}
.navbar ul li svg {
  width: 1.7rem;
  height: 1.7rem;
  vertical-align: top;
}
.navbar ul li {
  padding: 0.4rem;
  border-radius: 100%;
  transition: background-color 0.2s;
  cursor: pointer;
}
.navbar ul li:hover {
  background-color: #ddda;
  transition: background-color 0.2s;
}

.navbar ul .writeTweet {
  padding: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #1d9af1;
  position: fixed;
  bottom: 4.5rem;
  right: 1.2rem;
  /* box-shadow: 0px 2px 10px #00000035; */
}
.navbar ul .writeTweet:hover {
  background-color: #1881cc;
}

.homeNavbar a {
  text-decoration: none;
}
.homeText {
  margin-left: 1.4rem;
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
}

.navbar ul .hideOnSmall,
.hideOnSmall {
  display: none;
}
.hideOnMedium {
  display: inline;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justOnBiggest {
  display: none;
}

.navbar a {
  color: #575757;
  text-decoration: none;
}
@media screen and (min-width: 500px) {
  .justOnSmall {
    display: none;
  }
  .navbar ul .hideOnSmall,
  .hideOnSmall {
    display: inline;
  }
  .homeText {
    font-size: 1.2rem;
    margin-left: 0rem;
  }
  .hideOnMedium {
    display: none;
  }

  .leftNavbarIllusion {
    height: 100vh;
    min-width: 4.5rem;
    width: 15%;
  }
  .navbar {
    width: 15%;
    height: 100%;
    min-width: 4.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .navbar ul {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0.3rem 0;
  }

  .navbar ul li img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-top: 1rem;
    transform: scale(1.7);
  }
  .navbar ul .profile:hover {
    background-color: #0000 !important;
  }

  .navbar ul li {
    padding: 0.72rem;
  }

  .navbar ul .twitterNavIcon:hover {
    background-color: #1d9af140;
  }
  .twitterNavIcon {
    margin-top: 0.1rem;
  }

  .navbar ul .writeTweet {
    margin-top: 0.5rem;
    position: static;
    padding: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (min-width: 700px) {
  /* adding right section */
  .leftNavbarIllusion {
    width: 18%;
  }
  .navbar {
    width: 18%;
  }
}

@media screen and (min-width: 1000px) {
  .leftNavbarIllusion {
    width: 10%;
  }
  .navbar {
    width: 10%;
  }
}

@media screen and (min-width: 1280px) {
  .hideOnBiggest {
    display: none;
  }
  .leftNavbarIllusion {
    width: 22.5%;
  }
  .navbar {
    width: 22.5%;
  }
  .justOnBiggest {
    display: inline;
  }
  .navbar ul {
    align-items: flex-start;
    padding-left: 3rem;
  }
  .navbar ul li {
    border-radius: 2rem;
  }

  .navbar ul li span {
    font-size: 1.2rem;
    margin: auto 1.2rem;
    font-weight: 400;
  }

  .navbar ul li.writeTweet span {
    font-weight: 500;
    color: #fff;
    text-align: center;
  }
  .navbar ul li.writeTweet a {
    margin: auto;
  }
  .navbar ul li.writeTweet {
    width: 80%;
    height: auto;
  }

  .navbar ul li.profile:hover {
    background-color: #ddda !important;
  }
  .navbar ul li.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem !important;
    padding-left: 1.5rem;
  }
  .navbar ul li img {
    margin: auto;
  }

  .navbar ul li.profile span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar ul li span .nameAndId {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin: auto;
  }
  .navbar ul li span .nameAndId .name {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 1rem 0 0;
  }
  .navbar ul li span .nameAndId .name:hover {
    text-decoration: none;
  }
  .navbar ul li span .nameAndId .twId {
    font-size: 0.9rem;
    margin: 0 1rem 0 0;
    color: #575757;
  }

  .navbar ul li span .dots {
    font-weight: 500;
    color: #000;
    margin: 0 !important;
    align-self: start;
    vertical-align: middle;
  }
}
