.rightSide {
  display: none;
  max-width: 412px;
}
.searchResult {
  display: none;
}
@media screen and (min-width: 1000px) {
  .rightSide {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(90% - 600px);
    align-items: center;
    
  }
  .searchIllusion{
    position: fixed;
    width: calc(90% - 600px);
    max-width: calc(70% - 412px);
    height:3.2rem;
    background-color:var(--bg);
    z-index: 2;
  }
  .searchBox {
    position: fixed;
    top:0;
    background-color: var(--bg);
    width: calc(85% - 600px);
    max-width: calc(70% - 412px);
    margin: 0.2rem auto;
    border-radius: 2rem;
    z-index: 2;
  }

  .searchIcon svg {
    width: 1.2rem;
    fill: var(--grayIconsColor);
  }
  .clearIcon svg{
    width: .7rem;
    fill: white!important;
  }
  .clearIcon {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    vertical-align: middle;
    right: 1rem;
    top: 50%;
    border-radius:50%;
    width:1.4rem;
    height:1.4rem;
    transform: translateY(-50%);
    margin: auto;
    background-color: var(--littleIconsColor);
    transition: background-color 0.2s;
    cursor: pointer;
  }
  .clearIcon:hover{
    background-color: var(--hoverBlue);
    transition: background-color 0.2s;
  }
  .searchIcon {
    position: absolute;
    vertical-align: middle;
    left: 1.2rem;
    top: 55%;
    transform: translateY(-50%);
    margin: auto;
  }
  .searchBox input {
    background-color: #EFF3F4;
    border: none;
    outline: none;
    font-size: 0.95rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    padding: 0.7rem;
    margin: .1rem;
    padding-left: 3.7rem;
    border-radius: 2rem;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.2s;
  }
  .searchBox input:focus {
    background-color: var(--bg);
    transition: background-color 0.2s;
    -webkit-box-shadow: inset 0px 0px 0px 1px var(--littleIconsColor);
    -moz-box-shadow: inset 0px 0px 0px 1px var(--littleIconsColor);
    box-shadow: inset 0px 0px 0px 1px var(--littleIconsColor);
  }
  .searchResult {
    position: absolute;
    background-color: var(--bg);
    width: 100%;
    padding: 1.2rem 1rem;
    padding-bottom: 3rem;
    font-size: 0.92rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    color: #8d8d8d;
    text-align: center;
    font-weight: 500;
    box-shadow: 0rem 0px 11px 0.5px rgba(88, 88, 88, 0.203);
  }
  .searchBox input:focus ~ .searchResult,
  .searchResult:hover {
    display: block;
  }
  .searchBox input:focus ~ span.searchIcon svg {
    fill: var(--littleIconsColor)!important;
  }

  .whatsHappening {
    background-color: var(--rightSectionBg);
    border-radius: 1rem;
    padding: 0.7rem 0 0;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }
  .whatsHappening .title {
    display: block;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .whatsHappening a {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
  }
  .whatsHappening a div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
  }
  .whatsHappening .showMore:hover,
  .whatsHappening a:hover {
    background-color: var(--rightSectionHover);
  }
  .whatsHappening .category {
    font-size: 0.8rem;
    color: var(--grayText);
  }
  .whatsHappening .innerTitle {
    font-size: 1.03rem;
    font-weight: 500;
  }
  .whatsHappening .happeningContent {
    font-size: 0.95rem;
    color: var(--grayText);
  }

  .whatsHappening .sub {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    color: var(--grayText);
  }
  .whatsHappening a img {
    object-fit: cover;
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .whatsHappening .showMore {
    display: block;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    border-radius: 0 0 1rem 1rem;
    color: var(--mentionsColor);
    text-decoration: none;
    box-sizing: border-box;
  }
  .whoToFallow {
    margin-top: .5rem;
    width:100%;
  }
  .sticky{
    position:sticky;
    top: -30rem;
    width:85%;
    z-index: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .whoToFallow a {
    padding: .5rem 0;
  }
  .whoToFallow a div {
    margin-left: 0;
    margin-right: auto;
    width: 40%;
    overflow-x: hidden;
  }
  .whoToFallow a img {
    object-fit: cover;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin: auto;
    margin-right: 0rem;
    margin-left: 1.5rem;
  }
  .whoToFallow a input {
    border: none;
    outline: none;
    color: #e7e7e7;
    background-color: black;
    font-size: 0.9rem;
    font-family: Arial, sans-serif;
    font-weight: 600;
    width: 4.5rem;
    height: 2rem;
    border-radius: 3rem;
    margin: auto 1rem;
    cursor: pointer;
  }
  .whoToFallow a input:hover {
    background-color: #000c;
  }

  .termOfUse {
    align-self: flex-start;
    margin-left: 1rem;
  }
  .termOfUse a,
  .termOfUse span {
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    color: var(--grayIconsColor);
    text-decoration: none;
    margin-right: 0.45rem;
    font-weight: 500;
    align-self: flex-start;
  }
  .termOfUse a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 1150px) {
  .rightSide {
    width: calc(86% - 600px);
  }
  .searchIllusion{
    width: 360px;
    max-width: 360px;
  }
  .searchBox {
    width: 350px;
    max-width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .rightSide {
    width: calc(77.5% - 600px);
  }
  .searchIllusion{
    width: 400px;
  }
  .searchBox {
    width: 350px;

  }
}
